
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 40px 0px;
    background-color: rgb(243, 75, 75);
    text-align: center;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: lightgreen;
    text-align: center
}

a:hover {
    color: green;
}

a:link {
    text-decoration: none;
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}

tr:nth-child(even) {
    background-color: lightgray;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 400px 400px;
}